/* universal selector */
/* *
{
    color: brown;
} */

/* last rule */
/* p
{
    color: rgb(120, 158, 228);
} */
/* p
{
    color: red;
} */


/* specificity */
/* div>p
{
background-color: yellow;
color: black;
} */


/* inheretance */
body
{
 border: 2px solid red;
 color: lavender;
 padding: 20px;
}
.fruite
{
    border: inherit;
    color: blue;
    padding: inherit;
}

